#root {
  --background: #E8E6E4FF;
  --white: #f4f4f5;
  --text: #023245;

  --pink: #f40a6a;
  --pink-secondary: #f40a5b;
  --button-background: #023245;
  --button-text: #f4f4f5;
}

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

#app {
  background: var(--background);
  height: 100vh;
  padding: 1em;
}
